build
*xcodeproj/*mode*
*xcodeproj/*pbxuser
*xcodeproj/*per*
*xcodeproj/project.xcworkspace
*xcodeproj/project.pbxproj
*xcodeproj/xcuserdata
*tmproj
.DS_Store
profile
*.pbxuser
*.mode1v3
External/GHUnit/*
.svn
APIKeys.strings